
#nav {
    text-align: center;
    border-radius: 25px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46505E;
}
li {
    float: none;
    display: inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    ;
}
.active {
    background-color: #91AFC2;
}
html {
    background: url("http://cx.aos.ask.com/question/aq/1400px-788px/attach-fishing-line-bobber_27b0af21d350dbff.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overlay{
    opacity:0.4;
    background-color: #36312F;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;
}
body, html {
    margin:0;
    height:100%;
}
#header {
    ;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 75px;
    padding: 1px;
    color: white;
    border-radius: 25px;
}
#main {
    background-color: #551C25;
    margin-right: 7%;
    margin-left: 7%;
    padding: 20px;
    height: 100%;
    font-size: 25px;
    opacity: 0.9;
}
#footer {
    background-color: #551C25;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    font-size: 20px;

}
#nav {
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    opacity: .95;
}
#form {
    margin-right: 20px;
    background-color: #551C25;
    padding: 20px;

}
#website {
    height: 100%
}
#info{
    height: 100%;
}
#content {
    height: 100%;
}
#count-container {
    background: url(http://www.diadorasoccer.com/Images/empty-cart-dark.png);
}
#table {
    color: #FAF9F8;
    width: 60%;
}